@font-face {
    font-family: "HarmoniaSans" ;
    src: url(../../font/HarmoniaSansProCyr-SemiBd.woff);
}

.navbar{
    font-family: "HarmoniaSans" ;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  95%;
    padding: 0 32px;
    height: 73px;
    background-color: transparent;
    position: fixed;
    z-index: 99;

    &__menuItems{
        padding: 0;
        width: 568px;
        list-style: none;
        display: flex;
        align-self: center;
        justify-content: space-between;

        a{
            text-decoration: none;
            color: white;
            font-size: 16px;
            transition: all .55s ease;

            &.activeChange{
                color: #5C0F8B;
            }
        }
    }

    &__mobileMenu{
        display: none;
    }

    &__logo{
        display: inline-block;
        width: 63px;
        justify-self: center;
        align-self: center;

        svg{
            width: 63px;

            path{
                fill: white;
                transition: all .55s ease;
            }
        }

        &.activeChange{
            svg{
                path{
                    fill: #5C0F8B;
                }
            }
        }
    }

    &__btn{
        justify-self: flex-end;
        align-self: center;
        padding: 12px 20px;
        background-color: white;
        color: black;
        cursor: pointer;
        font-size: 17px;
        font-weight: 700;
        border-radius: 100px;
        transition: all .55s ease;

        &.activeChange{
            background-color: #5C0F8B;
            color: white;
        }
    }
}



@media(max-width : 1024px){
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:  95%;
    }
}

@media(max-width : 1214px){
    .navbar{
        &__menuItems{
            width: 500px;
        }
    }
}

@media(max-width : 992px){
    .navbar{
        &__menuItems{
            display: none;
        }

        &__logo{
            display: none;
        }

        &__btn{
            display: none;
        }

        &__mobileMenu{
            display: inline-block;
            svg{
                width: 35px;

                path{
                    fill: white;
                }
            }
        }
    }
}