@font-face {
    font-family: "HarmoniaSans" ;
    src: url(../../font/HarmoniaSansProCyr-SemiBd.woff);
}

.navbar{
    font-family: "HarmoniaSans" ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 32px;
    height: 73px;
    background-color: transparent;
    position: fixed;
    z-index: 99;

    &__menuItems{
        padding: 0;
        width: 568px;
        list-style: none;
        display: flex;
        align-self: center;
        justify-content: space-between;

        a{
            text-decoration: none;
            color: white;
            font-size: 16px;
        }
    }

    &__logo{
        display: inline-block;
        width: 63px;
        justify-self: center;
        align-self: center;

        svg{
            width: 63px;

            path{
                fill: white;
            }
        }
    }

    &__btn{
        justify-self: flex-end;
        align-self: center;
        padding: 12px 20px;
        background-color: white;
        color: black;
        cursor: pointer;
        font-size: 17px;
        font-weight: 700;
        border-radius: 100px;
    }
}