@font-face {
    font-family: "RecoletaAltSemiBold" ;
    src: url(../../font/RecoletaAlt-SemiBold.woff);
}

@font-face {
    font-family: "HarmoniaSansReg" ;
    src: url(../../font/HarmoniaSansProCyr-Regular.woff);
}

@font-face {
    font-family: "HarmoniaSansSemiBold" ;
    src: url(../../font/HarmoniaSansProCyr-SemiBd.woff);
}

.blog{
    padding-top: 140px;

    h2{
        text-align: center;
        font-family: "RecoletaAltSemiBold" ;
        font-size: 80px;
        margin-top: 0;
        color: #150F3D;
    }

    &__itemsContainer{
        &__item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .slick-slider{
                height: 400px;
                width: 90%;
                margin: auto;

                .slick-slide{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .slick-arrow{
                    display: none !important;
                }

                .slick-list{
                    height: 400px;
                    display: flex;
                    align-items: center;
                }

                .slick-track{
                    display: flex;
                }
            }

            &__items{
                display: flex !important;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #150F3D;
                width: 320px !important;
                margin: auto;
                padding: 40px 0;
                border: 1px solid #5C0F8B;
                border-radius: 20px;
                cursor: pointer;
                text-decoration: unset;

                &:hover{
                    
                        p{
                            scale: 1.3;
                        }
                    
                }


                &__img{
                    img{
                        border-radius: 10px;
                    }
                }

                &__desciription{
                    span{
                        text-align: center;
                        font-family: 'HarmoniaSansReg';
                        color: #150F3D;

                    }

                    p{
                        text-align: center;
                        font-family: 'HarmoniaSansSemiBold';
                        font-size: 17px;
                        color: #150F3D;
                        scale: 1;
                        transition: all .5s ease-in;

                    }
                }
            }

            &__content{
                &__img{
                    width: 442px;
                    height: 555px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
        }

        .product{
            display: flex;
            direction: rtl;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            margin: auto;
            margin-top: 210px;
            margin-bottom: 245px;

            &__image{
                img{
                    width: 540px;
                    height: 540px;
                    border-radius: 50px;
                }
            }

            &__content{
                width: 324px;
                display: flex;
                flex-direction: column;
                direction: ltr;
                align-items: baseline;
                justify-content: center;

                span{
                    font-size: 55px;
                    font-family: 'RecoletaAltSemiBold';
                    margin-bottom: 15px;
                    color: #150F3D;

                }

                p{
                    font-family: "HarmoniaSansSemiBold";
                    text-align: justify;
                    color: #150F3D;

                }
            }
        }
    }    
}