/* @font-face {
    font-family: "HarmoniaSans" ;
    src: url(./font/HarmoniaSansProCyr-Black.woff);
}
@font-face {
    font-family: "HarmoniaSans" ;
    src: url(./font/HarmoniaSansProCyr-Bold.woff);
}
@font-face {
    font-family: "HarmoniaSans" ;
    src: url(./font/HarmoniaSansProCyr-Cond.woff);
} */
/* @font-face {
    font-family: "HarmoniaSans" ;
    src: url(./font/HarmoniaSansProCyr-Light.woff);
} */
/* @font-face {
    font-family: "HarmoniaSans" ;
    src: url(./font/HarmoniaSansProCyr-Regular.woff);
} */

/* @font-face {
    font-family: "HarmoniaSans" ;
    src: url(./font/HarmoniaSansProCyr-Italic.woff);
} */



/* .App{
    font-family : 'HarmoniaSans' ;
} */